<!-- Grid Item -->
<div class="col-xl-12 mb-5">
    <div class="d-flex align-items-center justify-content-between">
        <h1>History Prizes</h1>
    </div>
</div>

<div class="col-xl-12 col-md-12 order-xl-1" ng-repeat="prize in prizes.prizes" ng-if="main.authorized">

    <!-- Card -->
    <div class="dt-card dt-reaponce bg-primary text-white">

        <!-- Card Header -->
        <div class="dt-card__header pt-6 px-6 mb-4">

            <!-- Card Heading -->
            <div class="dt-card__heading">
                <h3 class="dt-card__title text-white">{{ prize.name }}</h3>
            </div>
            <!-- /card heading -->

        </div>
        <!-- /card header -->

        <!-- Card Body -->
        <div class="dt-card__body px-6">
            <!-- Grid -->
            <div class="row no-gutters">
                <!-- Grid Item -->
                <div class="col-6 pr-2 border-right">
                    <div class="display-1 font-weight-500 mb-3">
                        ₹ {{ prize.price }}<span class="d-inline-block f-14">/ticket</span>
                    </div>
                    <p>({{ prize.prizes.length }} amazing & exciting prizes to win!)</p>
                </div>
                <!-- /grid item -->
                <!-- Grid Item -->
                <div class="col-6 text-center">
                    <p>Declares very soon.</p>
                    <div class="mb-3">
                        <a href="/prize/{{ prize._id }}" ng-if="!main.authorized" class="btn btn-secondary btn-xs text-uppercase">Buy Now</a>
                        <a href="/edit-prize/{{ prize._id }}" ng-if="main.authorized" class="btn btn-primary btn-xs text-uppercase">Edit Now</a>
                        <a href="#" ng-if="main.authorized" ng-click="prizes.wantToDelete($index)" class="btn btn-secondary btn-xs text-uppercase">Delete</a>
                    </div>
                </div>
                <div ng-if="prizes.wantDelete[$index]">
                    are you sure?
                    <a href="#" ng-click="prizes.deletePrize(prize._id)" ng-if="main.authorized" class="btn btn-secondary btn-xs text-uppercase">Delete Prize</a>
                </div>
                <!-- /grid item -->
            </div>
            <!-- /grid -->
        </div>
        <!-- /card body -->

     <div class="col-lg-12 order-xl-12">

            <!-- Card -->
            <div class="dt-card pb-4">
    
                <!-- Card Header -->
                <div class="dt-card__header mb-5">
    
                    <!-- Card Heading -->
                    <div class="dt-card__heading">
                        <h3 class="dt-card__title">Prize Details</h3>
                    </div>
                    <!-- /card heading -->
    
                    <!-- Card Tools -->
                    <!-- /card tools -->
    
                </div>
                <!-- /card header -->
    
                <!-- Card Body -->
             <div class="dt-card__body p-0">
                    <!-- Widget -->
                 <div class="dt-widget dt-widget-hl-item dt-widget-hl-item-space dt-widget-mb-item dt-widget-hover-bg">
    
                        <!-- Widget Item -->
                     <div class="dt-widget__item prize-back" ng-repeat="prizeData in prize.prizes">
						
						
							<span class="badge badge-secondary text-uppercase mb-2" style="height: fit-content;margin-top: 15px;margin-left: 15px;font-size: 13px;"> Prize #{{ $index + 1 }}</span>
                            <!-- Widget Info -->
                         <div class="dt-widget__info text-truncate align-text-bottom">
							
                             <div class="row no-gutters">
									<!-- Grid Item -->
									<div class="col-6 pr-2 border-right">
										<div class="display-1 font-weight-600">
										{{ prizeData.title }}
										</div>
										<p>{{ prizeData.description }}</p>
									</div>
									<!-- /grid item -->
								<!-- Grid Item -->
								<div class="col-6 text-center">
									<p>Declares very soon.</p>
									<div class="mb-3">
											<a href="/prize/{{ prize._id }}" class="btn btn-secondary btn-secondary2 btn-xs text-uppercase">{{ prizeData.date | date : 'MMM d, y. h:mm a' }}</a>
									</div>
								</div>
								<!-- /grid item -->
							</div>
                            <!-- /widget extra -->
    
                        </div>
                        <!-- /widgets item -->
    
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /card body -->
    
            </div>
            <!-- /card -->
    
        </div>

    </div>
    <!-- /card -->
  </div>

</div>

<div class="col-xl-12 col-md-12 order-xl-1" ng-repeat="prize in prizes.prizes" ng-if="!main.authorized">

    <!-- Card -->
    <div class="dt-card dt-reaponce bg-primary text-white">

        <!-- Card Header -->
        <div class="dt-card__header pt-6 px-6 mb-4">

            <!-- Card Heading -->
            <div class="dt-card__heading">
                <h3 class="dt-card__title text-white">{{ prize.name }}</h3>
            </div>
            <!-- /card heading -->

        </div>
        <!-- /card header -->

        <!-- Card Body -->
        <div class="dt-card__body px-6">
            <!-- Grid -->
            <div class="row no-gutters">
                <!-- Grid Item -->
                <div class="col-6 pr-2 border-right">
                    <div class="display-1 font-weight-500 mb-3">
                        ₹ {{ prize.price }}<span class="d-inline-block f-14">/ticket</span>
                    </div>
                    <p>({{ prize.prizes.length }} amazing & exciting prizes to win!)</p>
                </div>
                <!-- /grid item -->
                <!-- Grid Item -->
                <div class="col-6 text-center">
                    <p>Declares very soon.</p>
                    <div class="mb-3">
                        <a href="/prize/{{ prize._id }}" class="btn btn-secondary btn-xs text-uppercase">Buy Now</a>
                    </div>
                </div>
                <!-- /grid item -->
            </div>
            <!-- /grid -->
        </div>
        <!-- /card body -->

     <div class="col-lg-12 order-xl-12">

            <!-- Card -->
            <div class="dt-card pb-4">
    
                <!-- Card Header -->
                <div class="dt-card__header mb-5">
    
                    <!-- Card Heading -->
                    <div class="dt-card__heading">
                        <h3 class="dt-card__title">Prize Details</h3>
                    </div>
                    <!-- /card heading -->
    
                    <!-- Card Tools -->
                    <!-- /card tools -->
    
                </div>
                <!-- /card header -->
    
                <!-- Card Body -->
             <div class="dt-card__body p-0">
                    <!-- Widget -->
                 <div class="dt-widget dt-widget-hl-item dt-widget-hl-item-space dt-widget-mb-item dt-widget-hover-bg">
    
                        <!-- Widget Item -->
                     <div class="dt-widget__item prize-back" ng-repeat="prizeData in prize.prizes">
						
						
							<span class="badge badge-secondary text-uppercase mb-2" style="height: fit-content;margin-top: 15px;margin-left: 15px;font-size: 13px;"> Prize #{{ $index + 1 }}</span>
                            <!-- Widget Info -->
                         <div class="dt-widget__info text-truncate align-text-bottom">
							
                             <div class="row no-gutters">
									<!-- Grid Item -->
									<div class="col-6 pr-2 border-right">
										<div class="display-1 font-weight-600">
										{{ prizeData.title }}
										</div>
										<p>{{ prizeData.description }}</p>
									</div>
									<!-- /grid item -->
								<!-- Grid Item -->
								<div class="col-6 text-center">
									<p>Declares very soon.</p>
									<div class="mb-3">
											<a href="/prize/{{ prize._id }}" class="btn btn-secondary btn-secondary2 btn-xs text-uppercase">{{ prizeData.date | date : 'MMM d, y. h:mm a' }}</a>
									</div>
								</div>
								<!-- /grid item -->
							</div>
                            <!-- /widget extra -->
    
                        </div>
                        <!-- /widgets item -->
    
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /card body -->
    
            </div>
            <!-- /card -->
    
        </div>

    </div>
    <!-- /card -->
  </div>

</div>