<!-- Grid Item -->
<div class="col-xl-12 mb-5">
    <div class="d-flex align-items-center justify-content-between">
        <h1>Your Purchases</h1>
    </div>
</div>

<div class="col-xl-12 col-md-12 order-xl-1" ng-repeat="purchase in myPurchases.purchases">

    <!-- Card -->
    <div class="dt-card bg-primary text-white">

        <!-- Card Header -->
        <div class="dt-card__header pt-6 px-6 mb-4">

            <!-- Card Heading -->
            <div class="dt-card__heading">
                <h3 class="dt-card__title text-white">{{ purchase.prize.name }}</h3>
            </div>
            <!-- /card heading -->

        </div>
        <!-- /card header -->

        <!-- Card Body -->
        <div class="dt-card__body px-6">
            <!-- Grid -->
            <div class="row no-gutters">
                <!-- Grid Item -->
                <div class="col-6 pr-2 border-right">
                    <div class="display-1 font-weight-500 mb-3">
                        {{ purchase.code }}<span class="d-inline-block f-14">&nbsp; is your winner code</span>
                    </div>
                    <p>({{ purchase.prize.prizes.length }} amazing & exciting prizes to win!)</p>
                </div>
                <!-- /grid item -->
                <!-- Grid Item -->
                <div class="col-6 text-center">
                    <a href="/result/{{ purchase._id }}" ng-click="prize.purchaseNow()" class="btn btn-success btn-xs text-uppercase">
                        See the result Now
                    </a>
                </div>
                <!-- /grid item -->
            </div>
            <!-- /grid -->
        </div>
        <!-- /card body -->

    </div>
    <!-- /card -->

</div>