<!-- Grid Item -->
<div class="col-xl-12 mb-5">
    <div class="d-flex align-items-center justify-content-between">
        <h1>Prizes</h1>
        <a class="btn btn-primary" href="/add-prize" ng-if="main.authorized">Add Prize Now</a>
    </div>
</div>

<div class="col-xl-12" ng-if="main.authorized">

    <!-- Card -->
    <div class="card prize-back" ng-repeat="prize in prizes.prizes">

        <!-- Card header -->
        <div class="card-header border-bottom-0">
            <div class="d-flex align-items-center justify-content-between">
                <h3 class="dt-card__title">{{ prize.name }}</h3>
            </div>
        </div>
        <!-- /card header -->

        <!-- Tab Content-->
        <div class="tab-content">

            <!-- Tab panel -->
            <div id="popular" class="tab-pane active">

                <!-- Card Body -->
                <div class="card-body">

                    <!-- Card -->
                    <div class="card card-bak-hide shadow-none horizontal rounded-0 pb-8" ng-repeat="prizeData in prize.prizes">

                        

                        <!-- Card Stacked -->
                        <div class="card-stacked order-sm-1">

                            <!-- Card Body -->
                            <div class="card-body pt-sm-0 pb-0 px-0 pr-sm-6 pr-md-8">

                                <!-- Badges -->
                                <span class="badge badge-secondary text-uppercase mb-2"> Prize #{{ $index + 1 }}</span>
                                <!-- /badges -->

                                <!-- Card Title-->
                                <h3 class="card-title font-weight-normal text-truncate">
                                    {{ prizeData.title }}
                                </h3>
                                <!-- Card Title-->

                                <!-- Card Sub Title-->
                                <h5 class="card-subtitle">{{ prizeData.description }}</h5>
                                <!-- /card sub title-->

                                <!-- Pricing -->
                                <div class="d-flex align-items-baseline price mb-1">
                                    <span class="d-block text-primary font-weight-500 display-5 mr-1">{{ prizeData.code }}</span>
                                    <span class="d-inline-block text-light-gray f-12">to be revealed at {{ prizeData.date | date : 'MMM d, y. h:mm a' }}</span>
                                </div>
                                <!-- /pricing -->
                                <br>
                                <a class="card-link font-weight-500" href="/prize/{{ prize._id }}">
                                    <span>Check in detail</span>
                                    <i class="icon icon-arrow-long-right icon-lg ml-1"></i>
                                </a>
                            </div>
                            <!-- /card body -->

                        </div>
                        <!-- /card stacked -->

                    </div>
                    <!-- /card -->
                </div>
                <!-- /card body -->

            </div>
            <!-- /tab panel -->

        </div>
        <!-- /tab content-->

    </div>
    <!-- /card -->

</div>

<div class="col-xl-12 col-md-12 order-xl-1" ng-repeat="prize in prizes.prizes" ng-if="!main.authorized">

    <!-- Card -->
    <div class="dt-card dt-reaponce bg-primary text-white">

        <!-- Card Header -->
        <div class="dt-card__header pt-6 px-6 mb-4">

            <!-- Card Heading -->
            <div class="dt-card__heading">
                <h3 class="dt-card__title text-white">{{ prize.name }}</h3>
            </div>
            <!-- /card heading -->

        </div>
        <!-- /card header -->

        <!-- Card Body -->
        <div class="dt-card__body px-6">
            <!-- Grid -->
            <div class="row no-gutters">
                <!-- Grid Item -->
                <div class="col-6 pr-2 border-right">
                    <div class="display-1 font-weight-500 mb-3">
                        ₹ {{ prize.price }}<span class="d-inline-block f-14">/ticket</span>
                    </div>
                    <p>({{ prize.prizes.length }} amazing & exciting prizes to win!)</p>
                </div>
                <!-- /grid item -->
                <!-- Grid Item -->
                <div class="col-6 text-center">
                    <p>Declares very soon.</p>
                    <div class="mb-3">
                        <a href="/prize/{{ prize._id }}" class="btn btn-secondary btn-xs text-uppercase">Buy Now</a>
                    </div>
                </div>
                <!-- /grid item -->
            </div>
            <!-- /grid -->
        </div>
        <!-- /card body -->

        <div class="col-lg-12 order-xl-12">

            <!-- Card -->
            <div class="dt-card pb-4">
    
                <!-- Card Header -->
                <div class="dt-card__header mb-5">
    
                    <!-- Card Heading -->
                    <div class="dt-card__heading">
                        <h3 class="dt-card__title">Prize Details</h3>
                    </div>
                    <!-- /card heading -->
    
                    <!-- Card Tools -->
                    <!-- /card tools -->
    
                </div>
                <!-- /card header -->
    
                <!-- Card Body -->
                <div class="dt-card__body p-0">
                    <!-- Widget -->
                    <div class="dt-widget dt-widget-hl-item dt-widget-hl-item-space dt-widget-mb-item dt-widget-hover-bg">
    
                        <!-- Widget Item -->
                        <div class="dt-widget__item prize-back" ng-repeat="prizeData in prize.prizes">
						
						
							<span class="badge badge-secondary text-uppercase mb-2" style="height: fit-content;margin-top: 15px;margin-left: 15px;font-size: 13px;"> Prize #{{ $index + 1 }}</span>
                            <!-- Widget Info -->
                            <div class="dt-widget__info text-truncate align-text-bottom">
							
                                <div class="row no-gutters">
                <!-- Grid Item -->
                <div class="col-6 pr-2 border-right">
                    <div class="display-1 font-weight-600">
                        {{ prizeData.title }}
                    </div>
                    <p>{{ prizeData.description }}</p>
                </div>
                <!-- /grid item -->
                <!-- Grid Item -->
                <div class="col-6 text-center">
                    <p>Declares very soon.</p>
                    <div class="mb-3">
                        <a href="/prize/{{ prize._id }}" class="btn btn-secondary btn-secondary2 btn-xs text-uppercase">{{ prizeData.date | date : 'MMM d, y. h:mm a' }}</a>
                    </div>
                </div>
                <!-- /grid item -->
            </div>
                            <!-- /widget extra -->
    
                        </div>
                        <!-- /widgets item -->
    
                    </div>
                    <!-- /widget -->
                </div>
                <!-- /card body -->
    
            </div>
            <!-- /card -->
    
        </div>

    </div>
    <!-- /card -->

</div>