<!-- Page Header -->
<div class="dt-page__header">
    <h1 class="dt-page__title">Account Settings</h1>
</div>

<div class="row">
    <!-- Grid Item -->
    <div class="col-12">

        <!-- Card -->
        <div class="dt-card">

            <!-- Card Body -->
            <div class="dt-card__body">

                <!-- Form -->
                <form ng-submit="settings.updateProfile(main);" class="mb-6">
                    <div class="form-row">
                        <div class="col-sm-6 mb-3">
                            <label>Full Name  </label>
                            <input class="form-control" type="text" name="name" placeholder="Enter your name" ng-model="main.name" required>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label>Mobile Number </label>
                            <input class="form-control" type="text" name="text" placeholder="Enter your mobile" ng-model="main.mobileNumber" disabled>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Update Now</button>
                </form>


                <div class="row show-hide-message">
                    <div class="alert alert-success" ng-show="settings.successMsg">
                        <strong> Success! </strong> {{ settings.successMsg }}
                    </div>
                </div>


                <div class="row show-hide-message">
                    <div class="alert alert-danger" ng-show="settings.errorMsg">
                        <strong> Oops! </strong>{{ settings.errorMsg }}
                    </div>
                </div>

            </div>
            <!-- /card body -->

        </div>
        <!-- /card -->
    </div>
    <!-- /grid item -->
</div>
<!-- /grid -->

